BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '.*'
    Priority: 3
NamespaceIndentation: All
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
